  .axis path,
  .axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
  }

  .axis path {
    stroke: rgb(53, 39, 39);
  }

  .line {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
  }

  .accel-x {
    stroke: rgb(8, 247, 0);
    stroke-width: 2px;
  }

  .accel-y {
    stroke: rgb(255, 0, 0);
  }

  .accel-z {
    stroke: blue;
  }


  svg{
    display:block;
    width:100%;
  }